<?xml version="1.0"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="1Total_Montaj.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.384263432856868 -0.520576176427058 1.37139420875783"
        rpy="0 0 0" />
      <mass
        value="5.14385108561683" />
      <inertia
        ixx="0.0961611603907227"
        ixy="-0.00105476592593228"
        ixz="0.00121747728528588"
        iyy="0.182876997699365"
        iyz="0.00105477375679961"
        izz="0.0961611342193083" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh scale="0.78 0.78 0.78"
        filename="model://stewart/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh scale="0.78 0.78 0.78"
        filename="model://stewart/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="alt_planet_link">
    <inertial>
      <origin
        xyz="0.00302862492426265 0.00855094740142293 0.00988938605803313"
        rpy="0 0 0" />
      <mass
        value="1.10295847817781" />
      <inertia
        ixx="0.013834423479749"
        ixy="5.45522156423911E-05"
        ixz="-6.08606975317606E-07"
        iyy="0.0139127881607208"
        iyz="-9.35442145927238E-07"
        izz="0.0276482934977614" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh scale="0.78 0.78 0.78"
        filename="model://stewart/meshes/alt_planet_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh scale="0.78 0.78 0.78"
        filename="model://stewart/meshes/alt_planet_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="alt_planet"
    type="continuous">
    <origin
      xyz="-0.38395 -1.3715 -0.59834"
      rpy="0 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="alt_planet_link" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="100"
      velocity="6.2832" />
  </joint>
  <link
    name="kremayer_link">
    <inertial>
      <origin
        xyz="0.0205768678508176 0.0163139103585974 0.000118061070183917"
        rpy="0 0 0" />
      <mass
        value="0.0925261436980043" />
      <inertia
        ixx="0.000376819711281366"
        ixy="-2.74832149029622E-07"
        ixz="-2.09555353275377E-08"
        iyy="0.000377174040580818"
        iyz="-1.32284629918081E-07"
        izz="9.24395268869694E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh scale="0.78 0.78 0.78"
        filename="model://stewart/meshes/kremayer_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.949019607843137 0.909803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh scale="0.78 0.78 0.78"
        filename="model://stewart/meshes/kremayer_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="kremayer"
    type="prismatic">
    <origin
      xyz="-0.00088089 0.00045231 0.02041"
      rpy="1.5708 0 1.0965" />
    <parent
      link="alt_planet_link" />
    <child
      link="kremayer_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.1"
      upper="0.1"
      effort="100"
      velocity="0.8" />
  </joint>
  <link
    name="teleskobikcubuk_dis_kisim">
    <inertial>
      <origin
        xyz="-3.17413810946299E-06 0.0504451577310505 -5.73822952054659E-06"
        rpy="0 0 0" />
      <mass
        value="0.00968415710017345" />
      <inertia
        ixx="9.30900935734481E-06"
        ixy="-7.87245830736501E-10"
        ixz="1.168149383609E-10"
        iyy="4.89686992444474E-07"
        iyz="-2.30066439175807E-09"
        izz="9.30914388119832E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh scale="0.78 0.78 0.78"
        filename="model://stewart/meshes/teleskobikcubuk_dis_kisim.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh scale="0.78 0.78 0.78"
        filename="model://stewart/meshes/teleskobikcubuk_dis_kisim.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="dis_cubuk"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0.18022 0" />
    <parent
      link="kremayer_link" />
    <child
      link="teleskobikcubuk_dis_kisim" />
  </joint>
  <link
    name="teleskobik_cubuk_ic_kisim_link">
    <inertial>
      <origin
        xyz="5.55111512312578E-17 -4.44089209850063E-16 0.0108548965975316"
        rpy="0 0 0" />
      <mass
        value="0.00956342409102041" />
      <inertia
        ixx="1.60177638128422E-05"
        ixy="1.70348296901627E-23"
        ixz="2.12386194005695E-20"
        iyy="1.60177638128422E-05"
        iyz="-9.29602764732343E-21"
        izz="2.16425017158159E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh scale="0.78 0.78 0.78"
        filename="model://stewart/meshes/teleskobik_cubuk_ic_kisim_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh scale="0.78 0.78 0.78"
        filename="model://stewart/meshes/teleskobik_cubuk_ic_kisim_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="teleskobik_cubuk_ic_kisim"
    type="prismatic">
    <origin
      xyz="0 0.10294 0"
      rpy="-1.5708 -1.2767 0" />
    <parent
      link="teleskobikcubuk_dis_kisim" />
    <child
      link="teleskobik_cubuk_ic_kisim_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.02173"
      effort="100"
      velocity="0.8" />
  </joint>
  <link
    name="yarim_kure_link">
    <inertial>
      <origin
        xyz="-0.000641442326537345 -0.0572620187776818 4.04069846480226E-05"
        rpy="0 0 0" />
      <mass
        value="1.97192076149906" />
      <inertia
        ixx="0.0157891764203067"
        ixy="9.82686181796605E-05"
        ixz="1.61826351412035E-08"
        iyy="0.0246214099388652"
        iyz="-5.68628376683597E-06"
        izz="0.0157880547355324" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh scale="0.78 0.78 0.78"
        filename="model://stewart/meshes/yarim_kure_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh scale="0.78 0.78 0.78"
        filename="model://stewart/meshes/yarim_kure_link.STL" />
      </geometry>
    </collision>
  </link>
  <link name="yarim_kure_pitch_link"/>

<joint name="yarim_kure_pitch" type="revolute">
  <origin xyz="0.001787 -0.00078652 0.22296" rpy="1.5708 0 -0.47429" />
  <parent link="teleskobik_cubuk_ic_kisim_link" />
  <child link="yarim_kure_pitch_link" />
  <axis xyz="0 1 0" />
  <limit lower="-0.5236" upper="0.5236" effort="100" velocity="1.0" />
</joint>

<joint name="yarim_kure_roll" type="revolute">
  <origin xyz="0 0 0" rpy="0 0 0" />
  <parent link="yarim_kure_pitch_link" />
  <child link="yarim_kure_link" />
  <axis xyz="1 0 0" />
  <limit lower="-0.5236" upper="0.5236" effort="100" velocity="1.0" />
</joint>
  <link
    name="ust_planet_link">
    <inertial>
      <origin
        xyz="-1.20817424953401E-08 -7.3639287778704E-08 0.0296167427915376"
        rpy="0 0 0" />
      <mass
        value="0.742022299744742" />
      <inertia
        ixx="0.00187650476520514"
        ixy="4.16009854023628E-05"
        ixz="9.70699757553428E-19"
        iyy="0.00190468536192432"
        iyz="-1.4865428224313E-19"
        izz="0.00209035256931615" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh scale="0.78 0.78 0.78"
        filename="model://stewart/meshes/ust_planet_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh scale="0.78 0.78 0.78"
        filename="model://stewart/meshes/ust_planet_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ust_planet"
    type="continuous">
    <origin
      xyz="0.00036751 0.032998 -2.1954E-05"
      rpy="1.582 1.5111 -3.1416" />
    <parent
      link="yarim_kure_link" />
    <child
      link="ust_planet_link" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="100"
      velocity="6.28" />
  </joint>
  <link
    name="elevasyon_link">
    <inertial>
      <origin
        xyz="0.084812752044968 0.0215546160387948 8.37486633797901E-06"
        rpy="0 0 0" />
      <mass
        value="0.321494921440555" />
      <inertia
        ixx="0.00204474936424079"
        ixy="0.000232552195521209"
        ixz="-1.5351647118236E-11"
        iyy="0.00118880811675675"
        iyz="4.19248014820931E-12"
        izz="0.00109603843302534" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh scale="0.78 0.78 0.78"
        filename="model://stewart/meshes/elevasyon_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh scale="0.78 0.78 0.78"
        filename="model://stewart/meshes/elevasyon_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elevasyon"
    type="revolute">
    <origin
      xyz="0 0 0.15"
      rpy="1.5708 -0.0065019 -0.62211" />
    <parent
      link="ust_planet_link" />
    <child
      link="elevasyon_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="1.5708"
      effort="100"
      velocity="6.28" />
  </joint>
</robot>